/* --------- about-us.html --------- */
.about-us section {
    text-align: justify;
}

.about-us h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.3rem;
}

/* put images-avatar at the end of column */
.about-us .alexandra img {
    justify-self: end;
}

.about-us .panagiota img {
    justify-self: end;
    margin-right: 25px;
}

.alexandra>img {
    width: 165px;
    height: 165px;
    padding: 8px;
}

.panagiota>img {
    width: 150px;
    height: 150px;
    margin: 0px;
    padding: 8px;
}

.biography {
    padding-right: 80px;
}

.biography-email:hover {
    color: #ff312e;
    text-decoration: none;
}

.line>hr {
    border: 2px solid black;
    margin-left: 20px;
    margin-right: 20px;
}

.about-us {
    display: block;
}

.about-us section {
    display: block;
    font-size: 0.7rem;
}

.about-us h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    text-decoration: underline;
}

.about-us img {
    float: left;
}

.biography {
    padding: 0px 30px 30px 30px;
}

.biography h2,
h3 {
    margin: 20px 0px;
    font-size: medium;
    font-size: 1rem;
}

/* Desktop */
@media (min-width: 1024px) {
    .about-us {
        margin-top: 0;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 50px;
        
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
    }

    .about-us h1 {
        grid-column: span 3;
        font-size: 1.5rem;
    }

    .about-us section {
        grid-column: span 3;
        gap: 10px;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .about-us section img {
        grid-column: 1;
    }

    .biography {
        grid-column: 2 / 4;
        font-size: 1.1rem;
    }

    .about-us .biography h2 {
        font-size: 1.25rem;
    }

    .about-us .biography h3 {
        font-size: 1.15rem;
    }

    .line {
        grid-column: 1 / 4; /* horizontal line takes all columns */
        padding-left: 20px;
        padding-right: 20px;
    }

    .about-us .alexandra img {
        max-width: 160px;
        height: auto;
        justify-self: end;
    }
    
    .about-us .panagiota img {
        max-width: 150px;
        padding-left: 40px;
        height: auto;
        justify-self: end;
        margin-right: 25px;
    }
}

/* --------- !about-us.html --------- */