/* ---------- sub-category style -----------*/
.general-subcategory h3 {
    display: inline-block;
    margin: 15px;
}

/* -- book's layout */
.book article {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    transition: .3s;
}

.general-subcategory article {
    border-radius: 5%;
}

.general-subcategory article:hover {
    /* Add a subtle shadow for emphasis */
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    box-shadow: 0 10px 20px rgb(198, 113, 113);
    
    background-color: white;
    z-index: 10;
}

.book article a {
    display: block;
}

.book article img {
    width: 50%;
    height: auto;
    border: 1px solid #515052;
}

.book .details {
    float: right;
    margin: auto;
    width: 50%;
    padding: 15px;
}

.book article .details h4 {
    margin-bottom: 15px;
}

.book .details p {
    padding-bottom: 10px;
}

.book article h4 {
    font-size: 0.80rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

.book article a p {
    margin: 0px;
    padding-top: 5px;
    font-size: 0.75rem;
}

.book article p strong {
    color: #515052;
}

.description {
    text-align: justify;
    margin-top: 10px;
    text-wrap: wrap;
}

.book .description {
    margin-top: 15px;
}

.description p strong {
    text-decoration: none;
}

/* lecture's videos style */

.lectures-list article {
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.lectures-list article img {
    width: 90%;
    height: auto;
    margin: 15px;
}

.lectures-list .details {
    margin-top: 10px;
}

.lectures-list article h4 {
    margin: 5px;
    font-size: 0.80rem;
}

.lectures-list article p {
    margin: 5px 5px;
    font-size: 0.75rem;
}

.lectures-list article p strong {
    color: #515052;
}

.lectures-list li {
    font-size: 0.75rem;
}

.lectures-list article a .stars {
    margin-left: 5px;
}

/* desktop */
@media (min-width: 1024px) {
    .book {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .book article {
        width: 90%;
    }

    .book article a {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .book article img {
        width: 100%;
        grid-column: 1;
    }

    .book article h4 {
        display: flex;
    }

    .book article a p {
        display: grid;
        grid-column: 2;

    }

    .details {
        width: 100%;
        grid-column: 2;
        padding: 0px 10px;
    }
    
    .book .details {
        float: none;
        width: 100%;
    }

    .description {
        display: flex;
        grid-column: span 2;
    }

    .lectures-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns */
        margin: 0;
    }

    .lectures-list article {
        margin: 20px;
    }

    .lectures-list article a {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .lecture article a img {
        grid-column: 1;
        width: 100%;
    }

    .lectures-list article p {
        margin: 0 5px;
        font-size: 0.75rem;
    }

    .lectures-list article a .stars {
        margin-left: 5px;
    }

    .lectures-list article h4 {
        margin: 5px;
    }
}

/* Bigger desktop */
@media (min-width: 1300px) {
    .book {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 0 12%;
    }

    .book article {
        margin-right: 30px;
    }

    .book .details p {
        padding: 0;
    }

    .lectures-list {
        margin: 2% 3% 2% 7%;
    }

    .lectures-list article {
        padding: 20px;
    }

    .lectures-list article .details {
        margin: auto;
        width: 90%;
        padding: 5px;
    }

    .lectures-list article .details p {
        padding-top: 10px;
    }

    .lectures-list article .description {
        padding: 10px;
    }

}