header {
  top: 0;
  margin: 0px;
  padding-bottom: 0px;
  position: sticky;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #fffffa; 
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0;
}

/* Header's Style */
.logo {
  height: auto;
  width: 15%;
  border-bottom: 1px solid #999;
}

header > h1 {
  text-align: right;
  float: right;
}

/* Site's Footer */
.footer-container {
  margin: 0px;
  padding: 0px;
  background-color: #333138;
  color:#fffffa;
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#contact-info{
  float:left;
  width:100%;
  border-right: 1px solid #000000;
  text-align: center;
  margin: 20px;
}

#contact-info > address > p > a {
  color: #fffffa;
  text-decoration: none;
}

#social-media {
  text-align: center;
  width:100%;
  border-right: 1px solid #000000;
  text-align: center;
  margin: 20px;
}

#social-media a {
  padding: 0px 10px;
}
/* Symbol for 'X' social media*/
.fa.fa-twitter::before{
	content:"ð•";
	font-size:1.1em;
}

#terms-privacy p a {
  text-decoration: none;
  color: white;
}

@media screen  and (max-width: 600px) {
  #social-media > i {
    display: flex;
  }
}

#terms-privacy {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.footer-container > p {
  color: white;
  text-align: center;
  grid-column: 2;
}

.footer-container > section > h3 {
  padding-bottom: 10px;
}

/* -------- Navigation bar style -------------*/
nav {
  grid-column: 1 / 3;
  background-color: #000103;
  padding: 0px;
  margin-top: 0px;
  width: 100%;
}


/*Horizontal Menu*/
nav ul {
  
  background-color: #000103;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  position: relative;  
}

nav ul li a {
  color: white;
  padding: 23px;
  text-decoration: none;
  display: flex; 
}

nav ul li a:hover {
  background-color: #515052;
  color: #ff312e;
}

i {
  margin: 2px;
}

@media (max-width:600px) {
  .logo {
    width: 100px;
    height: 70px;
  }
}
/* Submenu Style */
.submenu1, .submenu2, .submenu3 {
  display: none;
  position: absolute;
  color: white;
  background-color: black;
  min-width: 150px;
  top: 100%;
  left: 0;  
}

li:hover > .submenu1 {
  display: block;
  margin: 0;
}

.submenu1 li:hover > .submenu2 {
  display: block;
  left: 100%; /* The third layer should appear on the right */
  top: 0;
}

.submenu1 li:hover > .submenu3 {
  display: block;
  left: 100%; /* The third layer should appear on the right */
  top: 0;
}
/* -------- !Navigation bar style -------------*/

 /* ------------------index.html sidebar--------------- */
.sidebar {
  display: flexbox;
  grid-column: span 1;
  margin: 80px 0 80px 0;
  padding: 0;
  height: 1000px; /* We fixed height because layout thinks that height is the total 
                    .dot height's items and it left a lot space above */
}

.dot {
  height: 200px;
  width: 200px;
  background-color: #bbb;
  border-radius: 50%;
  display: block;
  position: relative;
  left: 100px;
  box-shadow: 3px 10px 10px 2px #000;
}

.dot:nth-child(even) {z-index: -50; background-color: #666; color: #fff; }
.dot:nth-child(odd) {margin-left: 120px; z-index: -100;}

.dot#quote1 { top: 0px; }
.dot#quote1 blockquote { top: 45px; }

.dot#quote2 { top: -70px; }

.dot#quote3 { top: -140px; }
.dot#quote3 blockquote { top: 50px; }

.dot#quote4 { top: -210px; }
.dot#quote4 blockquote { top: 60px; }

.dot#quote5 { top: -280px; }
.dot#quote5 blockquote { top: 40px; }

.dot#quote6 { top: -350px; }
.dot#quote6 blockquote { top: 65px; }

.dot blockquote p {
  font-size: 0.8rem;
  text-align: center;
}

.dot blockquote {
  border-radius: 50%;
  position: relative;
  top: 30px;
}

.dot blockquote footer {
  font-size: .8em;
  border-radius: 0%;
  background: transparent;
}

.dot blockquote footer:before {
  content: "- ";
}

.sidebar footer {
  background-color: #bbb;
  border-radius: 50%;
  text-align: right;
  font-size: 0.8rem;
  font-style: italic;
} 
/* -----------------!index.html sidebar--------------- */
.bg-img {
  /* The image used */
  background-image: url("images/home_back.jpg");
  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;

  display: flex;
  grid-column: span 3;

}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  
}

.content article {
  display: flexbox;
  grid-column: 1 / 3;
  margin: 145px;
  padding-left: 15px;
}

.content article h1 {
  text-align: center;
  padding-bottom: 30px;
}

.content article p {
  justify-content: center;
}


.content > article > p::first-letter {
  font-size: 200%;
}

#signature {
  text-align: right;
  font-style: italic;
  padding-top: 50px;
  }

#signature::first-letter {
  font-size: 100%;
}

main article a {
  text-decoration: none;
  color: #000000;
}

/* ----------web.html style -----------*/
.web h3{
  display: inline-block;
  margin: 15px;
}

/* -- book's layout */
.book {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  margin: 0 15%;
}

.book article {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 20px;
  width: 80%;
  transition: .3s;
}

.web article {
  border-radius: 5%;
}

.web article:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  background-color:#ebe0e0;
  
}

.book article a {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: (2, 1fr);
}

.book article img {
  width: 100%;
  height: auto;
  grid-column: 1;
  border: 1px solid #515052;
}

.details {
  width: 100%;
  grid-column: 2;
  padding: 0px 10px;
}

.book  article  .details  h4 {
  margin-bottom: 15px;
}

.book .details p {
  padding-bottom: 10px;
}

.book article h4 {
  display: flex;
  font-size: 0.80rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.book article a p {
  display: grid;
  grid-column: 2;
  margin: 0px;
  padding-top: 5px;
  font-size: 0.75rem;
}

.book article p strong {
  color:#515052;
}

.description {
  display: flex;
  grid-column: span 2;
  text-align: justify;
  margin-top: 10px;
  text-wrap: wrap;
}

.book .description {
  margin-top: 15px;
}

.description p strong {
  text-decoration: none;
}

/* lecture's videos style */
.lectures-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 columns */
  gap: 20px; /* gap between columns */
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 2%;
  margin-bottom: 5%;
}

.lectures-list article {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.lectures-list article a {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.lectures-list article img {
  width: 100%;
  height: auto;
  margin: 15px;
}

.lectures-list .details {
  margin-top: 10px;
}

.lectures-list article h4 {
  margin: 15px;
  font-size: 0.80rem;
}

.lectures-list article p {
  margin: 15px;
  font-size: 0.75rem;
}

.lectures-list article p strong {
  color:#515052;
}

.lectures-list li {
  font-size: 0.75rem;
}

.lectures-list article a .stars{
  margin-left: 15px;
}

/*  --------------- Book style ------------- */
.pdf-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr; /* 3 columns, 2nd bigger than the others */
  gap: 20px; /* gap between columns */
  padding: 20px;
  font-size: 0.9rem;
}

.pdf-content{
  grid-column: 2 / 3; /* It places the content in the second column */
  background-color: #fffffa;
  border: 1px solid #ccc;
}

/* Cover style */
.book-details img {
  display: block;
  margin: auto;
  margin-top: 70px;
  width: 55%;
  border: 1px solid #ccc;
}

.book-details {
  margin-top: 120px;
  margin-bottom: 120px;
}

.book-details p {
  text-align: center;
}

/* Title of book style */
.pdf-container h1 {
  display: flex;
  grid-column: 1 / 3;
  font-size: medium;
  margin-bottom: 30px;
  padding: 20px;
  padding-left: 40px;
}

/* Title is a path */
.pdf-container h1 a {
  text-decoration: none;
}

.pdf-container h1 a:hover {
  color: #ff312e;
}

.pdf-container h1 a:visited{
  color: black;
}

.summary h4 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration: underline;
}

.summary p, ol {
  font-size: 0.9rem;
}

.summary {
  margin: 120px 80px;
}

.summary ol {
  margin: 20px;
}

/* Table of contents style */
hr {
  margin-top: 5%;
  margin-bottom: 5%;
  border: 10px solid #ccc;
}

.table-of-contents {
  border: 2px solid #999;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8rem;;
}

.table-of-contents th {
  padding: 5px;
  border-bottom: 3px double #999;
}

.table-of-contents caption {
  font-size: 1.3rem;
  padding-bottom: 10px;
}

.table-of-contents td {
  text-align: center;
  padding: 5px 20px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #eee;
}

#chapter-column {
  width: 20%;
}

.book-contents table tr td a {
  text-decoration: none;
  color:#333138;
}

.book-contents table tr td a:hover {
  color:#ff312e
}

.content-section {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.content-section p {
  text-align: justify;
}

.content-section h3 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.chapter-change {
  background-color: #e2e0e0;
  text-align: right;
  padding: 7px;
  font-size: 0.7rem;
  height: 10px;
}

.content-section > article  > figure {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px;
  border: 1px solid #ccc;
}

.content-section > article >  figure > figcaption {
  font-size: 0.6rem;
  font-weight: 700;
}

.top-btn {
  display: block;
  top: 85vh;
  right: 100%;
  text-align: end;
  position: sticky;
}

.top-btn img {
  max-width: 70px;
}

html {
  scroll-behavior: smooth;
}
/*  --------------- !Book style ------------- */

/* --------- about-us.html --------- */
.about-us {
  margin-left:200px;
  margin-right:200px;
  margin-bottom: 50px;
  font-size: 0.9rem;
}

.about-us section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  text-align: justify;
}

.about-us h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-us .alexandra img {
  max-width: 50%; 
  height: auto;
  justify-self: end;
}

.about-us .panagiota img {
  max-width: 35%;
  padding-left: 40px;
  height: auto;
  justify-self: end;
  margin-right: 55px;
}

.biography {
  padding-right: 50px;
}

.line > hr {
  border: 2px solid black;
}

@media screen and (max-width: 952px) {
  body {
    display: flexbox;
    flex: 1;
    font-size: 0.5em;
    margin: 0;
    padding: 0;
  }
  .about-us {
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;
  }

  .about-us h1 {
    font-size: 1.3 rem;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .about-us .alexandra, .panagiota {
    display: flexbox;
  }
  .about-us img {
    display: flexbox;
    width: 200px;
    height: 250px;
    float:left;
    margin: 0;
    padding: 0;
  }

  .about-us .biography {
    display: flexbox;
    float: right;
    margin: 0;
    padding: 0;
  }

  .footer-container {
    width: 100%;
  }

  #contact-info > address > p > i {
    font-size: 20px !important;
  }

  #social-media > a > i{
    font-size: 20px !important;
  }

  #terms-privacy h3 {
    margin-bottom: 20px;
  }

  .footer-container > p {
    margin-left: 25%;
  }
}


@media screen and (max-width: 600px) {
  .footer-container {
    display: flex;
    flex: auto;
    width: 100%;
  }
}
/* --------- !about-us.html --------- */