header {
  background:#fffffa;
  margin: 0px;
  padding-bottom: 0px;
}

header > h1 {
  margin-top: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #fffffa; 
  width: auto;
  height: auto;
  font-size: 1em;
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 4fr;
}
/* Header's Style */
.logo {
  width: 160px;
  height: 100px; 
}

header > h1 {
  text-align: right;
  float: right;
}

/* Site's Footer */
.footer-container {
  background-color: #333138;
  text-align: center;
  height: 140px;
  margin: 0;
}

.footer-container > p {
  color: white;
}

.sidebar footer {
  background-color: #fffffa;
  text-align: right;
  padding: 20px;
}

/* Navigation bar style */
nav {
  background-color: #000103;
  padding: 5px;
  display: flex;
  margin-top: 0px;
  width: 100%;
}

/*Horizontal Menu*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  position: relative;
}

nav ul li a {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  background-color: #515052;
  color: #ff312e;
}

/* Submenu Style */
.submenu1, .submenu2, .submenu3 {
  display: none;
  position: absolute;
  color: white;
  background-color: black;
  min-width: 150px;
  top: 100%;
  left: 0;  
}

li:hover > .submenu1 {
  display: block;
  margin: 0;
}

.submenu1 li:hover > .submenu2 {
  display: block;
  left: 100%; /* The third layer should appear on the right */
  top: 0;
}

.submenu1 li:hover > .submenu3 {
  display: block;
  left: 100%; /* The third layer should appear on the right */
  top: 0;
}

.introduction {
  padding: 20px;
  margin: 25px;
  display: grid;
  grid-column-start: 1fr;
  grid-column-end: 3fr;
  }

  /* Sidebar's style */
.sidebar {
  font-family: 'Brush Script MT', cursive;
  font-size: 1.5rem;
  display: grid;
  grid-column: 4fr;
  background-color: #fffffa; 
  margin: 25px;
  padding: 10px;
  width: 50%;  
  border: #000103;  
  border-style: solid;
  border-radius: 15px;
}

blockquote {
  margin: 0px;
  background-color: #fffffa;
}

blockquote p {
  padding: 0px 5px;
  margin: 0px;
}

.sidebar h3 {
  font-size: x-large;
  padding-left: 20px;
}

.introduction>p::first-letter {
  font-size: 200%;
  }

#signature {
  text-align: right;
  font-style: italic;
  }

#signature::first-letter {
  font-size: 100%;

}

main article a {
  text-decoration: none;
  color: #000000;
}

/* web.thml style in img */
.web > .book img {
  height: 300px;
  width: 250px;
}

.web > .lectures-list img {
  width: 500px;
  height: 300px;
}