header {
  position: sticky;
  top: 0;
  margin: 0px;
  padding-bottom: 0px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #fffffa; 
  width: auto;
  height: auto;
  font-size: 1em;
  margin: 0px;
  padding: 0px;
  grid-template-columns: 2fr 1fr;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0px;
  padding: 0px;
}

.content {
  grid-column: span 2;
}

/* Header's Style */
.logo {
  height: auto;
  width: 15%;
  border-bottom: 1px solid #999;
}

header > h1 {
  text-align: right;
  float: right;
}

/* Site's Footer */
.footer-container {
  margin: 0px;
  padding: 0px;
  background-color: #333138;
  color:#fffffa;
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-container > p {
  color: white;
}

#contact-info{
  float:left;
  width:100%;
  border-right: 1px solid #000000;
  text-align: center;
  margin: 20px;
}

#contact-info > address > p > a {
  color: #fffffa;
  text-decoration: none;
}

#social-media {
  text-align: center;
  width:100%;
  border-right: 1px solid #000000;
  text-align: center;
  margin: 20px;
}

/* Symbol for 'X' social media*/
.fa.fa-twitter::before{
	content:"ð•";
	font-size:1.1em;
}

#social-media > i {
  padding: 0px 10px;;
}

@media screen  and (max-width: 600px) {
  #social-media > i {
    display: flex;
  }
  
}

#terms-privacy {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.footer-container > p {
  text-align: center;
  grid-column: 2;
}

.footer-container > section > h3 {
  padding-bottom: 10px;
}
/* Navigation bar style */
nav {
  grid-column: 1 / 3;
  background-color: #000103;
  padding: 0px;
  margin-top: 0px;
  width: 100%;
}


/*Horizontal Menu*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  position: relative;  
}

nav ul li a {
  color: white;
  padding: 23px;
  text-decoration: none;
  display: flex; 
}

nav ul li a:hover {
  background-color: #515052;
  color: #ff312e;
}

i {
  margin: 2px;
}

/* Submenu Style */
.submenu1, .submenu2, .submenu3 {
  display: none;
  position: absolute;
  color: white;
  background-color: black;
  min-width: 150px;
  top: 100%;
  left: 0;  
}

li:hover > .submenu1 {
  display: block;
  margin: 0;
}

.submenu1 li:hover > .submenu2 {
  display: block;
  left: 100%; /* The third layer should appear on the right */
  top: 0;
}

.submenu1 li:hover > .submenu3 {
  display: block;
  left: 100%; /* The third layer should appear on the right */
  top: 0;
}

.introduction {
  padding: 100px 25px;
  margin: 25px 50px;
  display: grid;
  justify-content: space-between;  
  width: 90%;
}

  /* Sidebar's style */
.sidebar {
  font-family: 'Brush Script MT', cursive;
  font-size: 1.3rem;
  display: grid;
  grid-column: 4fr;
  background-color: #fffffa; 
  margin: 25px;
  padding: 10px;
  width: 50%;  
  border: #000103;  
  border-style: solid;
  border-radius: 15px;
}

blockquote {
  margin: 0px;
  background-color: #fffffa;
}

blockquote p {
  padding: 0px 5px;
  margin: 0px;
}

.sidebar h3 {
  font-size: x-large;
  padding-left: 20px;
}

.sidebar footer {
  background-color: #fffffa;
  text-align: right;
  padding: 20px;
}

.introduction>p::first-letter {
  font-size: 200%;
  }

#signature {
  text-align: right;
  font-style: italic;
  }

#signature::first-letter {
  font-size: 100%;

}

main article a {
  text-decoration: none;
  color: #000000;
}

/* web.html style */
.web h3{
  display: inline-block;
  margin: 15px;
}

.book {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  margin: 0 15%;
}

.book article {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 6%;
  width: 80%;
}

.book article a {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: (2, 1fr);
}

.book article img {
  width: 100%;
  height: auto;
  grid-column: 1;
  border: 1px solid #515052;
}

.details {
  width: 100%;
  grid-column: 2;
  padding: 0px 10px;
}

.book article h4 {
  display: flex;
  font-size: 0.80rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.book article a p {
  display: grid;
  grid-column: 2;
  margin: 0px;
  padding-top: 5px;
  font-size: 0.75rem;
}

.book article p strong {
  color:#515052;
}

.description {
  display: flex;
  grid-column: span 2;
  text-align: justify;
  margin-top: 10px;
  text-wrap: wrap;
}

.description p strong {
  text-decoration: none;
}

.lectures-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 columns */
  gap: 20px; /* gap between columns */
}

.lectures-list article a {
  display: grid;
  grid-template-columns: (2, 1fr);
  grid-template-rows: (2, 1fr);
}

.lectures-list article {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5%;
  width: 80%;
}

.lectures-list article img {
  width: 100%;
  height: auto;
  margin: 15px;
}

.lectures-list article h4 {
  margin: 15px;
  font-size: 0.80rem;
}

.lectures-list article p {
  margin: 15px;
  font-size: 0.75rem;
}

.lectures-list li {
  font-size: 0.75rem;
}

/*  --------------- Book style ------------- */
.pdf-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr; /* 3 columns, 2nd bigger than the others */
  gap: 20px; /* gap between columns */
  padding: 20px;
  font-size: 0.9rem;
}

.pdf-content{
  grid-column: 2 / 3; /* It places the content in the second column */
  background-color: #fffffa;
  border: 1px solid #ccc;
}

/* Cover style */
.book-details img {
  display: block;
  margin: auto;
  margin-top: 70px;
  width: 55%;
  border: 1px solid #ccc;
}

.book-details p {
text-align: center;
}

/* Title of book style */
.pdf-container h1 {
  display: flex;
  grid-column: 1 / 3;
  font-size: medium;
  margin-bottom: 30px;
  padding: 20px;
  padding-left: 40px;
}

/* Title is a path */
.pdf-container h1 a {
  text-decoration: none;
}

.pdf-container h1 a:hover {
  color: #ff312e;
}

.pdf-container h1 a:visited{
  color: black;
}

.summary h4 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration: underline;
}

.summary p, ol {
  font-size: 0.9rem;
}

.summary {
  margin: 120px 80px;
}

.summary ol {
  margin: 20px;
}

/* Table of contents style */
hr {
  margin-top: 5%;
  margin-bottom: 5%;
  border: 10px solid #ccc;
}

.table-of-contents {
  border: 2px solid #999;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8rem;;
}

.table-of-contents th {
  padding: 5px;
  border-bottom: 3px double #999;
}

.table-of-contents caption {
  font-size: 1.3rem;
  padding-bottom: 10px;
}

.table-of-contents td {
  text-align: center;
  padding: 5px 20px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #eee;
}

#chapter-column {
  width: 20%;
}

.book-contents table tr td a {
  text-decoration: none;
  color:#333138;
}

.book-contents table tr td a:hover {
  color:#ff312e
}

.content-section {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.content-section p {
  text-align: justify;
}

.content-section h3 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.chapter-change {
  background-color: #e2e0e0;
  text-align: right;
  padding: 7px;
  font-size: 0.7rem;
}

.content-section > article  > figure {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px;
  border: 1px solid #ccc;
}

.content-section > article >  figure > figcaption {
  font-size: 0.6rem;
  font-weight: 700;
}

.top-btn {
  display: block;
  top: 85vh;
  right: 100%;
  text-align: end;
  position: sticky;
}

.top-btn img {
  max-width: 70px;
}

html {
  scroll-behavior: smooth;
}
