header {
  margin: 0px;
  padding-bottom: 0px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #fffffa; 
  width: auto;
  height: auto;
  font-size: 1em;
  margin: 0px;
  padding: 0px;
  grid-template-columns: 2fr 1fr;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0px;
  padding: 0px;
}

.content {
  grid-column: span 2;
}

/* Header's Style */
.logo {
  height: auto;
  width: 15%;
  border-bottom: 1px solid #999;
}

header > h1 {
  text-align: right;
  float: right;
}

/* Site's Footer */
.footer-container {
  margin: 0px;
  padding: 0px;
  background-color: #333138;
  color:#fffffa;
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-container > p {
  color: white;
}

#contact-info{
  float:left;
  width:100%;
  border-right: 1px solid #000000;
  text-align: center;
  margin: 20px;
}

#contact-info > address > p > a {
  color: #fffffa;
  text-decoration: none;
}

#social-media {
  text-align: center;
  width:100%;
  border-right: 1px solid #000000;
  text-align: center;
  margin: 20px;
}

#terms-privacy {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.footer-container > p {
  text-align: center;
  grid-column: 2;
}

.footer-container > section > h3 {
  padding-bottom: 10px;
}
/* Navigation bar style */
nav {
  grid-column: 1 / 3;
  background-color: #000103;
  padding: 0px;
  margin-top: 0px;
  width: 100%;
}


/*Horizontal Menu*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  position: relative;  
}

nav ul li a {
  color: white;
  padding: 23px;
  text-decoration: none;
  display: flex; 
}

nav ul li a:hover {
  background-color: #515052;
  color: #ff312e;
}

i {
  margin: 2px;
}

/* Submenu Style */
.submenu1, .submenu2, .submenu3 {
  display: none;
  position: absolute;
  color: white;
  background-color: black;
  min-width: 150px;
  top: 100%;
  left: 0;  
}

li:hover > .submenu1 {
  display: block;
  margin: 0;
}

.submenu1 li:hover > .submenu2 {
  display: block;
  left: 100%; /* The third layer should appear on the right */
  top: 0;
}

.submenu1 li:hover > .submenu3 {
  display: block;
  left: 100%; /* The third layer should appear on the right */
  top: 0;
}

.introduction {
  padding: 100px 25px;
  margin: 25px 50px;
  display: grid;
  justify-content: space-between;  
  width: 90%;
}

  /* Sidebar's style */
.sidebar {
  font-family: 'Brush Script MT', cursive;
  font-size: 1.3rem;
  display: grid;
  grid-column: 4fr;
  background-color: #fffffa; 
  margin: 25px;
  padding: 10px;
  width: 50%;  
  border: #000103;  
  border-style: solid;
  border-radius: 15px;
}

blockquote {
  margin: 0px;
  background-color: #fffffa;
}

blockquote p {
  padding: 0px 5px;
  margin: 0px;
}

.sidebar h3 {
  font-size: x-large;
  padding-left: 20px;
}

.sidebar footer {
  background-color: #fffffa;
  text-align: right;
  padding: 20px;
}

.introduction>p::first-letter {
  font-size: 200%;
  }

#signature {
  text-align: right;
  font-style: italic;
  }

#signature::first-letter {
  font-size: 100%;

}

main article a {
  text-decoration: none;
  color: #000000;
}

/* web.thml style in img */
.web > .book img {
  height: 300px;
  width: 250px;
}

.web > .lectures-list img {
  width: 500px;
  height: 300px;
}

/* Symbol for 'X' social media*/
.fa.fa-twitter::before{
	content:"ğ•";
	font-size:1.1em;
}

