* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    justify-content: center;
    background-color: rgb(30, 134, 148);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

fieldset input:focus{
    border: 3px solid red; 
}

.form-container {
    margin: 20px;
    padding: 20px;
    background-color: rgba(180, 173, 173);
    grid-column: 2;
    border-radius: 20px;
}


.form-container h1 {
    margin: 20px;
    background-color: rgb(180, 173, 173);
    grid-column: 2;
    text-align: center;
}

form {
    grid-column: 2;
}

.form-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-content div {
    margin: 10px;
}

.user-contact-info label {
    grid-column: 1;
}

.residence label {
    grid-column: 1;
}

.user-refistry fieldset {
    padding-bottom: 38px;
}
.user-refistry label {
    grid-column: 1;
}

.gender-container label {
    grid-column: 1;
}

.personal-info label {
    grid-column: 1;
}

.residence {
    grid-column: 2;
    padding-bottom: 15px;
}

.gender-container {
    margin-bottom: 5px !important;
    grid-column: span 2;
}

.user-contact-info {
    grid-column: 1;
}

.questionnaire, .opinion {
    grid-column: span 2 ;
}

.rules fieldset {
    display: inline-block;
    padding-right: 243px;
}

.form-buttons #reset,
.form-buttons #submit {
    width: 100px;
    height: 50px;
    margin: 20px;
    display: inline-block;
}

.form-buttons {
    text-align: right;
}

.form-buttons #reset:active,
.form-buttons #submit:active {
    background-color: rgb(126, 2, 2);
    color: white;
}

fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background-color: rgb(180, 173, 173);
    border-radius: 10px;  
    border: 1px solid rgb(126, 2, 2);
}

fieldset input {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

fieldset legend {
    color: white;
    font-size: larger;    
}

fieldset ol {
    margin: auto 20px;
}

fieldset ol li {
    padding-top: 10px;
    padding-bottom: 5px;
}

.opinion > fieldset > textarea {
    grid-column: span 2;
    width: 100%;
    box-sizing: content-box;
}

.contact-way fieldset {
    display: inline;
    padding-right: 210px;
    padding-bottom: 27px;
}

@media only screen and (max-width: 640px) {
    body {
        display: flex;   
    }
    
    div fieldset input {
        flex: 1;
        padding: 5px;
        border-radius: 5px;
    }
    
    .form-container {
        width: 100%;
        background: rgb(180, 173, 173);
        margin: 50px;
    }

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {

}


