* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    place-items: center;
}

.form-container {
    grid-column: 1 / 3;
    width: 100%;
}

.required-field {
    font-size: 0.8rem;
    font-style: italic;
    margin-left: 20px;
    margin-bottom: 20px;
}

.form-content fieldset {
    width: 100%;
    height: 100%;
}

fieldset input:focus{
    border: 3px solid red; 
}

.form-container {
    margin: 20px;
    padding: 20px;
    background-color: rgba(180, 173, 173);
    grid-column: 2;
    border-radius: 20px;
}


.form-container h1 {
    margin: 20px;
    background-color: rgb(180, 173, 173);
    grid-column: 2;
    text-align: center;
}

form {
    grid-column: 2;
}

.form-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-content div {
    margin: 10px;
}

.user-contact-info {
    grid-column: 1;
}

.user-contact-info label {
    grid-column: 1;
}

.residence label {
    grid-column: 1;
}

.user-registry label {
    grid-column: 1;
}

.gender-container label {
    grid-column: 1;
}

.personal-info label {
    grid-column: 1;
}

.residence {
    grid-column: 2;
}

.gender-container {
    margin-bottom: 5px !important;
    grid-column: 1 / 3;
}

.questionnaire ol {
    grid-column: 1 / 3;
    width: 100%;
}
.questionnaire li {
    font-weight: 700;
}

.questionnaire, .opinion {
    grid-column: span 2 ;
}

.rules fieldset {
    display: inline;
    grid-column: 2 / 3;
}

.rules > fieldset {
    text-wrap: nowrap;
    padding-top: 25px;
    padding-bottom: 47px;
}

.form-buttons #reset,
.form-buttons #submit {
    width: 100px;
    height: 50px;
    margin: 20px;
    display: inline-block;
}

.form-buttons {
    text-align: right;
}

.form-buttons #reset:active,
.form-buttons #submit:active {
    background-color: rgb(126, 2, 2);
    color: white;
}

fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background-color: rgb(180, 173, 173);
    border-radius: 10px;  
    border: 1px solid rgb(126, 2, 2);
}

fieldset input {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

fieldset legend {
    color: white;
    font-size: larger;    
}

fieldset ol {
    margin: auto 20px;
}

fieldset ol li {
    padding-top: 10px;
    padding-bottom: 5px;
}

.opinion > fieldset > textarea {
    grid-column: span 2;
    width: 100%;
    box-sizing: content-box;
}

.contact-way fieldset {
    display: inline;
    grid-column: 1 / 2;
}


#charsLeft {
    text-align: end;
    font-size: 0.8rem;
    color: rgb(71, 4, 4);
}

@media only screen and (min-width: 1024px) {

}

/* Tooltip container for password' message */
.tooltip {
    position: relative;
    display: flex;    
    margin: 0px !important;
  }
  
.tooltip > input {
    width: 100%;
}

/* Tooltip text */
.tooltip .passwordText {
visibility: hidden;
width: 200px;
background-color: #c2c0c0;
color: red;
text-align: center;
padding: 5px 0;
border-radius: 6px;

/* Position the tooltip text */
position: absolute;
z-index: 1;
bottom: 125%;
left: 50%;
margin-left: -60px;

/* Fade in tooltip */
opacity: 0;
transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .passwordText::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .passwordText {
visibility: visible;
opacity: 1;
  }
