/* --------- categories ------------*/
.cat-content-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 2% 5% 2%;
}

.card img {
    float: left;
    width: 60%;
    margin: 0 auto;
    padding-right: 20px;
}

.text ul {
    color: white;
    list-style: none;
    /* remove the bullet points*/
}

.text ul li {
    margin: 0;
    padding: 0;
}

.text ul li a {
    color: #000000;
    /* Set the text color to white */
    text-decoration: none;
    /* Remove underline */
    font-size: 0.6rem;
}

.card {
    background: #fffffa;
    border-radius: 15px;
    border: 1px solid #9999a1;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 80%;
    box-sizing: border-box;
    /*overflow: hidden;*/
}

.card h2 {
    color: #000000;
    font-family: Tahoma, sans-serif;
    margin-top: 4px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-align: left;
}

.card p {
    font-size: 0.7rem;
    color: #333333;
    text-align: justify;
    float: left;
    padding-top: 5px;
}

.cat-content-container .diamond-list {
    padding-right: 5px;
    font-size: 0.8rem;
    color: #600;
}
