/* Mobile and Small Tablet */
.content {
    display: block;
    font-size: 0.8rem;
}

.container {
    display: flex;
    flex-direction: column;
}

.container {
    font-size: 0.8rem;
    text-align: justify;
}

.content>article>h1 {
    text-align: center;
    margin: 30px;
    padding-bottom: 0px;
}

.content article {
    margin: 20px;
}

#signature {
    padding: 20px 0px;
    ;
}

.sidebar {
    display: none; /* hidden quotes */
}

.mob-tab-img {
    text-align: center;
}

.mob-tab-img>img {
    width: 80%;
    padding-top: 20px;
}

.content article p {
    justify-content: center;
}


.content>article>p::first-letter {
    font-size: 250%;
    font-family: FontdinerSwanky;
}

#signature {
    text-align: right;
    font-style: italic;
    padding-top: 50px;
}

#signature::first-letter {
    font-size: 100%;
}

main article a {
    text-decoration: none;
    color: #000000;
}

/* ---- sidebar with ads ---- */
.ad {
    margin: auto;
    font-size: 0.7rem;
}

.ad>section {
    display: flex;
    border: 1px solid #600;
    padding: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 5px;
    margin-bottom: 30px;
}

.ad > a {
    text-decoration: none;
} 

.ad img {
    width: 140px;
    /* center image in ads*/
    margin: auto;
    padding-top: 2px;
}

.ad-details {
    text-transform: uppercase;
    /* this does uppercase letters inside ad frame*/
    text-wrap: wrap;
    text-align: left;
    float: right;
}

.ad-details h4 {
    font-size: 0.7rem;
    margin: 5px;
}

.ad-details ul {
    padding-left: 10px;
    list-style-type: none;
}

.ad-details .diamond-list {
    padding-right: 5px;
    font-size: 1.1rem;
    color: #600;
}

