@import url(../style.css);
* {
    box-sizing: border-box;
}

@font-face {
    font-family: Spectral;
    src: url(fonts/Spectral-Regular.ttf);
}

body {
    background-color: rgb(255, 255, 255);
    place-items: center;
    font-family: Spectral;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;
    padding: 20px;
    background-color: rgba(180, 173, 173);
    border-radius: 20px;
    font-size: 0.9em;
}

fieldset {
    padding: 20px;
    background-color: rgb(180, 173, 173);
    border-radius: 10px;  
    border: 1px solid rgb(126, 2, 2);
}

fieldset input {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    width: 100%;
}

fieldset legend {
    color: white;
    font-size: medium;    
}

.form-container h1 {
    margin: 20px;
    background-color: rgb(180, 173, 173);
    text-align: center;
    font-size: 1.2em;
}

.form-content div {
    margin: 10px;
}
.required-field, .question-field {
    font-size: 0.8rem;
    font-style: italic;
    margin-left: 20px;
    margin-bottom: 20px;
}

.required-field p, 
.question-field p {
    padding-left: 10px;
    margin: 5px;
}

.form-content fieldset {
    width: 100%;
    height: 100%;
}

fieldset input {
    border: none;
}

fieldset input:focus{
    border: 3px solid rgb(255, 123, 0); 
}

/* Genders style */
.gender-container {
    display: inline-flex;
}
/* !Genders style */

/* user-restigry style */
.user-registry input {
    width: 100%;
}

.user-registry br {
    display: none;
}
/* !user-restigry style */
/* Questionaire style */
.questionnaire input {
    width: auto;
}
.questionnaire ol {
    margin-left: 0;
    padding-left: 10px;
    width: 100%;
}
.questionnaire li {
    font-weight: 700;
}

/* !Questionaire style */

/* textarea style */
.opinion > fieldset > textarea {

    width: 100%;
    box-sizing: content-box;
}

#charsLeft {
    text-align: end;
    font-size: 0.8rem;
    color: rgb(71, 4, 4);
}
/* !textarea style */

/* Contact ways style */
.contact-way input {
    width: auto;
}
/* !Contact ways style */

/* rules style */
.rules > fieldset {
    text-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 47px;
}

.rules details p {
    text-wrap: wrap;
    padding-left: 20px;
}

.rules input{
    width: auto;
}
/* rules style */

/* form buttons style */
.form-buttons #reset,
.form-buttons #submit {
    width: 100px;
    height: 50px;
    margin: 20px;
    display: inline-block;
}

.form-buttons {
    text-align: right;
}

.form-buttons #reset:active,
.form-buttons #submit:active {
    background-color: rgb(126, 2, 2);
    color: white;
}
/* !form buttons style */

/* Tooltip container for password' message */
.tooltip {
    position: relative;    
    margin: 0px !important;
    font-size: 0.8em;
  }
  
.tooltip > input {
    width: 100%;
}

/* Tooltip text */
.tooltip .passwordText {
visibility: hidden;
width: 200px;
background-color: #c2c0c0;
color: red;
text-align: center;
padding: 5px 0;
border-radius: 6px;

/* Position the tooltip text */
position: absolute;
z-index: 1;
bottom: 125%;
left: 50%;
margin-left: -60px;

/* Fade in tooltip */
opacity: 0;
transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .passwordText::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .passwordText {
visibility: visible;
opacity: 1;
}

.message {
    display: none;
    text-align: end;
    font-size: 14px;
    margin-top: 5px;
}
.error {
    display: initial;
    color: red;
}
.success {
    display: initial;
    color: green;
}

@media (min-width: 900px) {
    .wrap-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        place-items: center;
    }
    .form-container {
        grid-column: 2;
        font-size: 1em;
    }
     
    form {
        grid-column: 2;
    }

    .form-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .form-content div {
        margin: 10px;
    }

    fieldset {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    fieldset legend {
        font-size: larger;    
    }

    .form-container h1 {
        grid-column: 2;
        font-size: 2em;
    }
    
    fieldset input {
        width: auto;
    }
    
    /* display layout of fieldsets */
    .personal-info label {
        grid-column: 1;
    }

    .gender-container {
        margin-bottom: 5px !important;
        grid-column: 1 / 3;
    }

    .gender-container label {
        grid-column: 1;
    }

    .residence {
        grid-column: 2;
    }

    .residence label {
        grid-column: 1;
    }

    .user-contact-info {
        grid-column: 1;
    }
    
    .user-contact-info label {
        grid-column: 1;
    }
    
    .user-registry br {
        display: initial;
    }

    .user-registry label {
        grid-column: 1;
    }

    .questionnaire ol {
        grid-column: 1 / 3;
        margin: auto 20px;
    }
    
    .questionnaire ol li {
        padding-top: 10px;
        padding-bottom: 5px;
    }
 
    .questionnaire, .opinion {
        grid-column: span 2 ;
    }
    
    .contact-way fieldset {
        display: inline;
        grid-column: 1 / 2;
    }

    .opinion > fieldset > textarea {
        grid-column: span 2;
    }
    
    .rules fieldset {
        display: inline;
        grid-column: 2 / 3;
    }
    /* !display layout of fieldsets */ 

    /* Tooltip container for password' message */
    .tooltip { 
        font-size: 1em; 
    }

    .message {
        grid-column: 2;
    }

    header nav ul i {
       padding-top: 5px;
    }
}
