@import "css-styles/book-style.css";
@import "css-styles/about-us-style.css";
@import "css-styles/index-style.css";
@import "css-styles/sub-category-style.css";
@import "css-styles/category-style.css";

/* --------- almost common styles ----------*/
header {
    top: 0;
    margin: 0px;
    padding-bottom: 0px;
    position: sticky;
    z-index: 1000;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #fffffa;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0;
    padding: 0;
}

/* Header's Style */
header>h1 {
    text-align: right;
    float: right;
}

/* Site's Footer */
.footer-container {
    margin: 0px;
    padding: 0px;
    background-color: #333138;
    color: #fffffa;
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#contact-info {
    float: left;
    width: 100%;
    border-right: 1px solid #000000;
    text-align: center;
    margin: 20px;
}

#contact-info>address>p>a {
    color: #fffffa;
    text-decoration: none;
}

#contact-info>address>p>a:active {
    color: #ff312e;
}

#contact-info>address>p>a:hover {
    text-decoration: underline;
}

#social-media {
    text-align: center;
    width: 100%;
    border-right: 1px solid #000000;
    text-align: center;
    margin: 20px;
}

#social-media a {
    padding: 0px 10px;
}

/* Symbol for 'X' social media*/
.fa.fa-twitter::before {
    content: "ð•";
    font-size: 1.1em;
}

#terms-privacy p a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 600px) {
    #social-media>i {
        display: flex;
    }
}

#terms-privacy {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

#terms-privacy p a:hover {
    text-decoration: underline;
}

#terms-privacy p a:active {
    color: #ff312e;
}

.footer-container>p {
    color: white;
    text-align: center;
    grid-column: 2;
}

.footer-container>section>h3 {
    padding-bottom: 10px;
}

/* -------- Navigation bar style -------------*/
nav {
    grid-column: 1 / 3;
    background-color: #000103;
    padding: 0px;
    margin-top: 0px;
    width: 100%;
    display: flex;
}


/*Horizontal Menu*/
nav ul {

    background-color: #000103;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: white;
    padding: 23px;
    text-decoration: none;
    display: flex;
}

.register-btn {
    font-size: 1rem;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

@media screen and (max-width: 952px) {
    .register-btn {
        font-size: 0.9rem;
        padding-right: 0px;
    }
}

@media (max-width: 600px) {
    .register-btn {
        font-size: 0.7rem;
    }
}

.register-btn:hover {
    color: #ff312e;
}

nav ul li a:hover {
    background-color: #515052;
    color: #ff312e;
}

i {
    margin: 2px;
}

#logo {
    color: white;
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    padding: 25px 10px 10px 10px;
    align-items: center;
    background: rgb(254,252,255);
    background: linear-gradient(90deg, rgba(254,252,255,1) 0%, /* Gradient effet on the logo */
                                rgba(255,49,46,1) 25%, rgba(0,0,0,1) 50%, 
                                rgba(255,49,46,1) 75%, rgba(249,247,244,1) 100%);
}

#logo i {
    font-size: 35px;
}

@media screen and (max-width: 952px) {
    #logo {
        font-size: 1.3em;
        padding: 15px 5px 5px 5px;
    }

    #logo i {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    #logo {
        font-size: 1.1em;
        padding: 15px 5px 5px 5px;
    }

    #logo i {
        font-size: 25px;
    }
}

/* Submenu Style */
.submenu1,
.submenu2,
.submenu3 {
    display: none;
    position: absolute;
    color: white;
    background-color: black;
    min-width: 150px;
    top: 100%;
    left: 0;
}

li:hover>.submenu1 {
    display: block;
    margin: 0;
}

.submenu1 li:hover>.submenu2 {
    display: block;
    left: 100%;
    /* The third layer should appear on the right */
    top: 0;
}

.submenu1 li:hover>.submenu3 {
    display: block;
    left: 100%;
    /* The third layer should appear on the right */
    top: 0;
}

/* -------- !Navigation bar style -------------*/

/* Background Image in home page*/
.bg-img {
    /* The image used */
    background-image: url("images/home_back.jpg");
    min-height: 380px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;

    display: flex;
    grid-column: span 3;

}

