/*  --------------- Book style ------------- */
.pdf-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* 3 columns, 2nd bigger than the others */
    gap: 20px;
    /* gap between columns */
    padding: 20px;
    font-size: 0.9rem;
}

.pdf-content {
    grid-column: 2 / 3;
    /* It places the content in the second column */
    background-color: #fffffa;
    border: 1px solid #ccc;
}

/* Cover style */
.book-details img {
    display: block;
    margin: auto;
    margin-top: 70px;
    width: 55%;
    border: 1px solid #ccc;
}

.book-details {
    margin-top: 120px;
    margin-bottom: 120px;
}

.book-details p {
    text-align: center;
}

/* Title of book style */
.pdf-container h1 {
    display: flex;
    grid-column: 1 / 3;
    font-size: medium;
    margin-bottom: 30px;
    padding: 20px;
    padding-left: 40px;
}

/* Title is a path */
.pdf-container h1 a {
    text-decoration: none;
}

.pdf-container h1 a:hover {
    color: #ff312e;
}

.pdf-container h1 a:visited {
    color: black;
}

.summary h4 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: underline;
}

.summary p,
ol {
    font-size: 0.9rem;
}

.summary {
    margin: 120px 80px;
}

.summary ol {
    margin: 20px;
}

/* Table of contents style */
hr {
    margin-top: 5%;
    margin-bottom: 5%;
    border: 10px solid #ccc;
}

.table-of-contents {
    border: 2px solid #999;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8rem;
    ;
}

.table-of-contents th {
    padding: 5px;
    border-bottom: 3px double #999;
}

.table-of-contents caption {
    font-size: 1.3rem;
    padding-bottom: 10px;
}

.table-of-contents td {
    text-align: center;
    padding: 5px 20px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #eee;
}

#chapter-column {
    width: 20%;
}

.book-contents table tr td a {
    text-decoration: none;
    color: #333138;
}

.book-contents table tr td a:hover {
    color: #ff312e
}

.content-section {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.content-section p {
    text-align: justify;
}

.content-section h3 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.chapter-change {
    background-color: #e2e0e0;
    text-align: right;
    padding: 7px;
    font-size: 0.7rem;
    height: 10px;
}

.content-section>article>figure {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
    border: 1px solid #ccc;
}

.content-section>article>figure>figcaption {
    font-size: 0.6rem;
    font-weight: 700;
}

.top-btn {
    display: block;
    top: 85vh;
    right: 100%;
    text-align: end;
    position: sticky;
}

.top-btn img {
    max-width: 70px;
}

html {
    scroll-behavior: smooth;
}

/*  --------------- !Book style ------------- */