/* ------------------index.html sidebar--------------- */
.sidebar {
    display: flexbox;
    grid-column: span 1;
    margin: 80px 0 80px 0;
    padding: 0;
    height: 1000px;
    /* We fixed height because layout thinks that height is the total
                       .dot height's items and it left a lot space above */
}

.dot {
    height: 200px;
    width: 200px;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
    position: relative;
    left: 100px;
    box-shadow: 3px 10px 10px 2px #000;
}

.dot:nth-child(even) {
    z-index: -50;
    background-color: #666;
    color: #fff;
}

.dot:nth-child(odd) {
    margin-left: 120px;
    z-index: -100;
}

.dot#quote1 {
    top: 0px;
}

.dot#quote1 blockquote {
    top: 45px;
}

.dot#quote2 {
    top: -70px;
}

.dot#quote3 {
    top: -140px;
}

.dot#quote3 blockquote {
    top: 50px;
}

.dot#quote4 {
    top: -210px;
}

.dot#quote4 blockquote {
    top: 60px;
}

.dot#quote5 {
    top: -280px;
}

.dot#quote5 blockquote {
    top: 40px;
}

.dot#quote6 {
    top: -350px;
}

.dot#quote6 blockquote {
    top: 65px;
}

.dot blockquote p {
    font-size: 0.8rem;
    text-align: center;
}

.dot blockquote {
    border-radius: 50%;
    position: relative;
    top: 30px;
}

.dot blockquote footer {
    font-size: .8em;
    border-radius: 0%;
    background: transparent;
}

.dot blockquote footer:before {
    content: "- ";
}

.sidebar footer {
    background-color: #bbb;
    border-radius: 50%;
    text-align: right;
    font-size: 0.8rem;
    font-style: italic;
}
/* -----------------!index.html sidebar--------------- */

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;

}

.content article {
    display: flexbox;
    grid-column: 1 / 3;
    margin: 145px;
    padding-left: 15px;
}

.content article h1 {
    text-align: center;
    padding-bottom: 30px;
}

.content article p {
    justify-content: center;
}


.content>article>p::first-letter {
    font-size: 200%;
}

#signature {
    text-align: right;
    font-style: italic;
    padding-top: 50px;
}

#signature::first-letter {
    font-size: 100%;
}

main article a {
    text-decoration: none;
    color: #000000;
}
