.video-card {
    background:rgba(249, 247, 244, 1);
    position: relative;
    grid-column: 1 / 3; /* Span from column 1 to column 2 */
    grid-row: auto; /* Automatically position in the row it appears (optional) */
    /*background-color: #ffffff; !* Optional: background color for visibility *!*/
    padding: 10px; /* Optional: inner padding for the content */
    border: 1px solid #b4b4bd; /* Optional: border for visibility */
    transition: 0.3s ease-out;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);

}

.tutorial-video {
    max-width: 100%;
    object-fit: cover;
    position: relative;
    transition: 0.5s;
}

.lecture-list-container {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr; /* 3 columns of equal width */
    /*grid-template-rows: repeat(12, 1fr); !* 12 rows of equal height *!*/
    gap: 10px; /* Optional: adds spacing between grid items */
    width: 100%; /* Optional: make the container responsive */
    height: 100%; /* Optional: full height if required */
    padding: 20px; /* Optional: padding around the grid */
    box-sizing: border-box; /* Includes padding in the element's total width and height */
}

.description-card {
    grid-column: 2 / 4; /* Span from column 1 to column 2 */
    grid-row: auto; /* Automatically position in the row it appears (optional) */
    background-color: rgba(255, 255, 255, 0.98); /* Optional: background color for visibility */
    padding: 10px; /* Optional: inner padding for the content */
    border: 1px solid #ccc; /* Optional: border for visibility */
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;

}

.video-card .section-desc {
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    padding: 12px;
    background: #13151e;
    transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
    box-sizing: border-box;
    overflow: hidden;
}
.video-card .section-desc h3{
    font-size: 1.5rem;
    margin-top: 10px;

}
.video-card:hover .section-desc {
    color: #ff312e;
    width: 100%;
    height: 100%;
}

.lecture-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.image-box {
    grid-column: 1 / 4;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px; /* Optional rounded corners */
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-box .overlay-list {
    grid-column: 1 / span 3;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px;
    border-radius: 8px;
    max-width: 40%; /* Adjust width */
    overflow-y: auto; /* Scroll if content exceeds box */
}

.overlay-content {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px;
    border-radius: 8px;
    max-width: 40%; /* Adjust width */
    overflow-y: auto; /* Scroll if content exceeds box */
}

.overlay-list ul, .overlay-content p {
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.overlay-list ul li{
    margin-bottom: 7px;
}
.overlay-list a {
    color: #fff;
    text-decoration: none;
}
.overlay-content h2, .overlay-content p {
    margin-bottom: 10px;
    line-height: 1.5;
}

.intro-box {
    grid-column: 1 / span 3;

}